@font-face {
    font-family: "PatuaOne";
    src: url("./fonts/PatuaOne-Regular.woff2");
}
@font-face {
    font-family: "StarJedi";
    src: url("./fonts/starwars/starjout.woff2");
}
body {
    padding: 0;
    margin: 0;
    height: 100vh;
  }
 .main-second {
  background-image: url('./images/landscape-sky.png');
  background-size: cover;
  background-repeat: no-repeat;
 }
 .project-overlay-top {
    background: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0.3) 0%,
      hsla(0, 0%, 0%, 0.296) 8.1%,
      hsla(0, 0%, 0%, 0.285) 15.5%,
      hsla(0, 0%, 0%, 0.269) 22.5%,
      hsla(0, 0%, 0%, 0.247) 29%,
      hsla(0, 0%, 0%, 0.222) 35.3%,
      hsla(0, 0%, 0%, 0.194) 41.2%,
      hsla(0, 0%, 0%, 0.165) 47.1%,
      hsla(0, 0%, 0%, 0.135) 52.9%,
      hsla(0, 0%, 0%, 0.106) 58.8%,
      hsla(0, 0%, 0%, 0.078) 64.7%,
      hsla(0, 0%, 0%, 0.053) 71%,
      hsla(0, 0%, 0%, 0.031) 77.5%,
      hsla(0, 0%, 0%, 0.015) 84.5%,
      hsla(0, 0%, 0%, 0.004) 91.9%,
      hsla(0, 0%, 0%, 0) 100%
    );
 }
.patua-one {
    font-family: "PatuaOne";
}

.star-jedi {
    font-family: "StarJedi";
}
/* SKROLLR */
.skrollable {
    position:fixed;
    z-index:100;
}
.skrollr-mobile .skrollable {
    position:absolute;
}
.skrollable .skrollable {
    position:absolute;
}

.skrollable .skrollable .skrollable {
    position:static;
}
/* END Skrollr */
.sky {
   height: 100vh;
}
.parallax-img-bg {
   max-height: 100vh;
    /* animation: zoom 60s infinite ease-in-out; */
   object-fit: cover;
}
.parallax-img-bg.skrollable-after, .sky.skrollable-after {
   animation: zoom 60s ease-in-out;
}
.star {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.3);
    animation: glow 3s infinite ease-in-out;
}

/* Randomize the glow timings */
.star:nth-child(2) {
 animation-duration: 4s;
 animation-delay: 1s;
}

.star:nth-child(3) {
 animation-duration: 2.5s;
 animation-delay: 0.5s;
}

.star:nth-child(4) {
 animation-duration: 3.5s;
 animation-delay: 2s;
}

.star:nth-child(5) {
 animation-duration: 4.5s;
 animation-delay: 1.5s;
}

.star:nth-child(6) {
 animation-duration: 3s;
 animation-delay: 0.8s;
}

.star:nth-child(7) {
 animation-duration: 5s;
 animation-delay: 2.5s;
}

.star:nth-child(8) {
 animation-duration: 3.2s;
 animation-delay: 1.2s;
}
.star:nth-child(9) {
    animation-duration: 5.2s;
    animation-delay: 2.2s;
}
.star:nth-child(10) {
    animation-duration: 1.2s;
    animation-delay: 4.2s;
} 
.star:nth-child(11) {
    animation-duration: 1.4s;
    animation-delay: 1.8s;
}  
.star:nth-child(12) {
    animation-duration: 0.9s;
    animation-delay: 2.8s;
}  
.jon-roles {
    height: 30px;
}
.jon-image {
    z-index: 120;
}
.scroll-down svg{
    position: relative;
    transform: translateY(0px);
    animation: scrollDown infinite linear;
    animation-duration: 2s;
    animation-delay: 1s;
}
.scroll-down svg:hover{
    cursor: pointer;
}
/* CARD CSS */
.e-card {
    margin: 0 auto;
    background: transparent;
    /* box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45); */
    position: absolute !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wave {
    position: absolute;
    width: 100%;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -15%;
    margin-top: -45%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
}

.icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
}

.infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
    top: 210px;
}

.playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
}

.wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
    }

.playing .wave:nth-child(2) {
    animation-duration: 4000ms;
}

.wave:nth-child(2) {
    animation-duration: 50s;
}

.playing .wave:nth-child(3) {
    animation-duration: 5000ms;
}

.wave:nth-child(3) {
    animation-duration: 45s;
}
.main-clouds {
    z-index: 110;
}
.main-second{
    animation: backgroundMove 60s infinite linear;
}
.project-landcropped-img {
    z-index: 102;
}
/* .jon-moon {
    animation: shake 30s infinite linear;
} */
.projects .card {
    z-index: 111;
}
/* .projects .card .e-card {
    left: -100%;
    transition: all 0.75s ease-in-out;
}
.projects .card:hover .e-card {
    left: 0;
} */
.card-tags span {
    font-size: 0.5rem;
}
   
@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}
/* End Animated Button */
@keyframes backgroundMove {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -1000px;
    }
}
@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* KEYFRAMES */
@keyframes glow {
    0% {
        opacity: 0.3;
        transform: scale(1);
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1);
    }
    50% {
        opacity: 1;
        transform: scale(1.5);
        box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.6);
    }
    100% {
        opacity: 0.3;
        transform: scale(1);
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1);
    }
}
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.1);
    }
}
@keyframes scrollDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(4px);
    }
}
@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform:  rotate(-1deg); }
    20% { transform:  rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform:  rotate(-1deg); }
    60% { transform:  rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform:  rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
@keyframes snow {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }
  
    20% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
      transform: translateY(650px);
    }
  }
  
  @keyframes astronaut {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loaderBg {
    0% {
        background-color: #0b3d91; /* Deep blue */
    }
    20% {
        background-color: #1c1c3c; /* Dark purple */
    }
    40% {
        background-color: #000000; /* Black */
    }
    60% {
        background-color: #2e2b5f; /* Starry purple-blue */
    }
    80% {
        background-color: #f0e68c; /* Faint star yellow */
    }
    100% {
        background-color: #0b3d91; /* Back to deep blue */
    }
   }
   .main-loader {
    animation: loaderBg 60s linear infinite;
    transition: all 1.2s ease-in-out;
   }
  .box-of-star1,
  .box-of-star2,
  .box-of-star3,
  .box-of-star4 {
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    transform: translateY(0px);
    height: 700px;
  }
  
  .box-of-star1 {
    animation: snow 5s linear infinite;
  }
  
  .box-of-star2 {
    animation: snow 5s -1.64s linear infinite;
  }
  
  .box-of-star3 {
    animation: snow 5s -2.30s linear infinite;
  }
  
  .box-of-star4 {
    animation: snow 5s -3.30s linear infinite;
  }
  
  .main-loader .star {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    opacity: 0.7;
  }
  
  .main-loader .star:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 70px;
    opacity: .7;
  }
  
  .main-loader .star:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 170px;
    opacity: .9;
  }
  
  .main-loader .star-position1 {
    top: 30px;
    left: 20px;
  }
  
  .main-loader .star-position2 {
    top: 110px;
    left: 250px;
  }
  
  .main-loader .star-position3 {
    top: 60px;
    left: 570px;
  }
  
  .main-loader .star-position4 {
    top: 120px;
    left: 900px;
  }
  
  .main-loader .star-position5 {
    top: 20px;
    left: 1120px;
  }
  
  .main-loader .star-position6 {
    top: 90px;
    left: 1280px;
  }
  
  .main-loader .star-position7 {
    top: 30px;
    left: 1480px;
  }
  
  .astronaut {
    width: 250px;
    height: 300px;
    position: absolute;
    z-index: 11;
    top: calc(50% - 150px);
    left: calc(50% - 125px);
    animation: astronaut 5s linear infinite;
    transition: all 1.2s ease-in-out;
  }
  
  .schoolbag {
    width: 100px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    background-color: #94b7ca;
    border-radius: 50px 50px 0 0 / 30px 30px 0 0;
  }
  
  .head {
    width: 97px;
    height: 80px;
    position: absolute;
    z-index: 3;
    background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
    border-radius: 50%;
    top: 34px;
    left: calc(50% - 47.5px);
  }
  
  .head:after {
    content: "";
    width: 60px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 30px);
    background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
    border-radius: 15px;
  }
  
  .head:before {
    content: "";
    width: 12px;
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px);
    left: -4px;
    background-color: #618095;
    border-radius: 5px;
    box-shadow: 92px 0px 0px #618095;
  }
  
  .body {
    width: 85px;
    height: 100px;
    position: absolute;
    z-index: 2;
    background-color: #fffbff;
    border-radius: 40px / 20px;
    top: 105px;
    left: calc(50% - 41px);
    background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  }
  
  .panel {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: calc(50% - 30px);
    background-color: #b7cceb;
  }
  
  .panel:before {
    content: "";
    width: 30px;
    height: 5px;
    position: absolute;
    top: 9px;
    left: 7px;
    background-color: #fbfdfa;
    box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
  }
  
  .panel:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 9px;
    right: 7px;
    background-color: #fbfdfa;
    border-radius: 50%;
    box-shadow: 0px 14px 0px 2px #fbfdfa;
  }
  
  .arm {
    width: 80px;
    height: 30px;
    position: absolute;
    top: 121px;
    z-index: 2;
  }
  
  .arm-left {
    left: 30px;
    background-color: #e3e8eb;
    border-radius: 0 0 0 39px;
  }
  
  .arm-right {
    right: 30px;
    background-color: #fbfdfa;
    border-radius: 0 0 39px 0;
  }
  
  .arm-left:before,
  .arm-right:before {
    content: "";
    width: 30px;
    height: 70px;
    position: absolute;
    top: -40px;
  }
  
  .arm-left:before {
    border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
    left: 0;
    background-color: #e3e8eb;
  }
  
  .arm-right:before {
    border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
    right: 0;
    background-color: #fbfdfa;
  }
  
  .arm-left:after,
  .arm-right:after {
    content: "";
    width: 30px;
    height: 10px;
    position: absolute;
    top: -24px;
  }
  
  .arm-left:after {
    background-color: #6e91a4;
    left: 0;
  }
  
  .arm-right:after {
    right: 0;
    background-color: #b6d2e0;
  }
  
  .leg {
    width: 30px;
    height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 70px;
  }
  
  .leg-left {
    left: 76px;
    background-color: #e3e8eb;
    transform: rotate(20deg);
  }
  
  .leg-right {
    right: 73px;
    background-color: #fbfdfa;
    transform: rotate(-20deg);
  }
  
  .leg-left:before,
  .leg-right:before {
    content: "";
    width: 50px;
    height: 25px;
    position: absolute;
    bottom: -26px;
  }
  
  .leg-left:before {
    left: -20px;
    background-color: #e3e8eb;
    border-radius: 30px 0 0 0;
    border-bottom: 10px solid #6d96ac;
  }
  
  .leg-right:before {
    right: -20px;
    background-color: #fbfdfa;
    border-radius: 0 30px 0 0;
    border-bottom: 10px solid #b0cfe4;
  }